<header class="flex items-center justify-between p-8">
  <h1 class="text-2xl font-medium">Movie store</h1>
  <form class="w-1/2">
    <input
      type="text"
      name="search"
      id="search"
      placeholder="Search movies"
      class="w-full px-6 py-3 rounded-lg shadow-xl bg-sky-3 placeholder:text-sky-11 placeholder:font-medium"
    />
  </form>
  <a routerLink="/checkout">
    <svg
      class="text-sky-11"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <circle cx="9" cy="21" r="1" />
      <circle cx="20" cy="21" r="1" />
      <path
        d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"
      />
    </svg>
  </a>
</header>
