<div class="w-full mx-auto sm:max-w-screen-sm md:max-w-screen-md">
  <a routerLink="/" class="absolute inline-block p-4 top-6 left-6 text-sky-11"
    >🠐 Go back</a
  >
  <h1 class="mt-32 mb-16 text-2xl font-medium">Orders: {{ orders.length }}</h1>
  <table class="w-full mx-auto text-sm table-auto">
    <thead>
      <tr class="text-left border-b border-b-sky-3 text-sky-11">
        <th class="p-4 font-normal">id</th>
        <th class="p-4 font-normal text-center">Items</th>
        <th class="p-4 font-normal text-center">Price</th>
        <th class="p-4 font-normal text-center">Payment method</th>
        <th class="w-8 font-normal text-center">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders" class="border-b border-b-sky-3">
        <td class="p-4">{{ order.id }}</td>
        <td class="p-4 text-center">
          <h1 *ngFor="let item of order.orderRows">
            {{ item.amount }} x {{ item.productId }}
          </h1>
        </td>
        <td class="p-4 text-center min-w-max">
          {{ order.totalPrice }}&nbsp;kr
        </td>
        <td class="p-4 text-center min-w-max">
          {{ order.paymentMethod }}
        </td>
        <td class="w-8 p-2">
          <button
            (click)="deleteOrder(order.id)"
            class="p-2 rounded-full text-red-11 hover:bg-red-4"
          >
            <svg
              aria-label="Remove order"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="3 6 5 6 21 6" />
              <path
                d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
              />
              <line x1="10" y1="11" x2="10" y2="17" />
              <line x1="14" y1="11" x2="14" y2="17" />
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
