<button (click)="showModal()" class="1/4 group">
  <div class="w-52">
    <div class="relative p-2 shadow-xl bg-sky-3 rounded-xl">
      <img
        class="w-48 transition rounded-md group-hover:opacity-20"
        [src]="movie.imageUrl"
        [alt]="movie.name"
      />
      <svg
        class="absolute transition scale-150 -translate-x-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100 text-sky-12 top-1/2 left-1/2"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <circle cx="12" cy="12" r="10" />
        <line x1="12" y1="8" x2="12" y2="16" />
        <line x1="8" y1="12" x2="16" y2="12" />
      </svg>
    </div>
    <h2 class="mt-2 text-center">{{ movie.name }}</h2>
  </div>
</button>

<!-- Modal -->
<div
  (click)="hideModal()"
  *ngIf="modalOpen"
  class="fixed inset-0 z-10 grid w-screen h-screen place-items-center bg-sky-1/80 backdrop-blur-sm"
>
  <div
    appClickStopPropagation
    class="relative flex w-1/2 p-8 shadow-xl bg-sky-2 rounded-xl"
  >
    <!-- Dialog image -->
    <div class="flex-shrink-0 w-52">
      <div class="relative p-2 shadow-xl bg-sky-3 rounded-xl">
        <img
          class="w-48 transition rounded-md"
          [src]="movie.imageUrl"
          [alt]="movie.name"
        />
      </div>
    </div>
    <!-- Dialog text content -->
    <div class="px-8">
      <h3 class="mb-8 text-2xl font-medium scroll-mt-16">{{ movie.name }}</h3>
      <p class="text-sky-11">{{ movie.description }}</p>
      <button
        (click)="addToCart(movie)"
        class="px-4 py-2 mt-8 font-medium rounded-md bg-sky-4 hover:bg-sky-3 text-sky-11"
      >
        {{ buttonText }}
      </button>
    </div>
    <!-- Close button -->
    <button
      (click)="hideModal()"
      class="absolute p-2 rounded-full text-sky-11 hover:bg-sky-3 top-4 right-4"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-x"
      >
        <line x1="18" y1="6" x2="6" y2="18" />
        <line x1="6" y1="6" x2="18" y2="18" />
      </svg>
    </button>
  </div>
</div>
