<div class="flex flex-wrap justify-between gap-y-16">
  <div
    class="flex justify-center p-2 mx-auto shadow-xl rounded-xl w-max gap-x-2 bg-sky-2"
  >
    <a
      class="px-6 py-3 font-medium rounded-md hover:bg-sky-3 text-sky-11"
      *ngFor="let category of categories"
      [href]="'#' + category.name"
      >{{ category.name }}</a
    >
  </div>

  <div *ngFor="let category of categories">
    <h1 class="mb-8 text-2xl font-medium" [id]="category.name">
      {{ category.name }}
    </h1>
    <div class="grid grid-cols-4 gap-16">
      <app-movie
        *ngFor="let movie of category.movies"
        [movie]="movie"
      ></app-movie>
    </div>
    <hr class="mt-16 border-sky-3" />
  </div>
</div>
